In [11]:
# Import the Pandas dependency.
import pandas as pd

In [12]:
# Import the regular expression module.
import re
# Assign the string data to a variable. 
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"
# Extract the four digit number.
contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

['4661']

In [13]:
# Read the contacts string data into a Pandas DataFrame
contact_string_df = pd.read_csv("/Users/nataliebernal/Desktop/git/Crowdfunding-ETL/Resources/contacts_string_data.csv")
contact_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [14]:
# Extract the four-digit contact ID number.
contact_string_df['contact_id'] = contact_string_df['contact_info'].str.extract(r'(\d{4})')
contact_string_df.head()

                                        contact_info contact_id
0  contact_id 4661 name Cecilia Velasco email cec...       4661
1  contact_id 3765 name Mariana Ellis email maria...       3765
2  contact_id 4187 name Sofie Woods email sofie.w...       4187
3  contact_id 4941 name Jeanette Iannotti email j...       4941
4  contact_id 2199 name Samuel Sorgatz email samu...       2199

In [15]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco', 'il cecilia']

In [18]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [26]:
contact_string_df['Name']= contact_string_df['conttact_info'].str.extract(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+))

SyntaxError: EOL while scanning string literal (2139647486.py, line 1)

In [17]:
# Extract the email address using a regular expression pattern. 
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

['cecilia.velasco@rodrigues.fr']